<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app"> 
       <ul>
          <li v-for="good in goodList" v-bind:key="good.goodName">
               <span>{{good.goodName}}</span>
               --<span>{{good.price}}</span>
               --<span><input type="number" v-model="good.count"></span>
               --<span>{{good.price*good.count}}元</span>
               
          </li>    
       </ul>
       <h2>总价为：{{totalPrice}}</h2>
    </div>
    
    <script>
        
       var app = new Vue({
           el:"#app",
           data:{
               goodList:[
                   {goodName:"手机",price:5000,count:2},
                   {goodName:"直升机",price:5240000000,count:1},
                   {goodName:"饮料",price:50,count:5},
                   {goodName:"手表",price:1000,count:1}
               ],
               totalPrice:0
               
           },
           watch:{
               goodList:{
                   deep:true,
                   handler:function(newVal){
                          //newVal指向了更新后的goodList
                          var result = 0;
                          newVal.forEach( function(good,index){
                              //good代表数组迭代出来的每一个good元素
                              result += good.price*good.count;
                          })
                          this.totalPrice = result;
                   }
               }
           }
        //    computed:{
        //        totalPrice:function(){
        //            var result = 0;
        //            for(var i = 0;i<this.goodList.length;i++)
        //            {

        //            }
        //        }
        //    }
          
       })


    </script>
</body>
</html>